.tag {
    width: 100%;
    height: 24px;
    border-radius: 2px;
}

.tag_violet {
    background-color: #EEE1FD;
}

.tag_green {
    background-color: #BAF8CF;
}

.tag_red {
    background-color: #FED6CC;
}

.tag_orange {
    background-color: #FFDCB6;
}

.tag_blue {
    background-color: #B8E6FF;
}

.tag_green2 {
    background-color: #D8FCB0;
}

.tag_dark-blue {
    background-color: #C6D9FF;
}

.tag_yellow {
    background-color: #FFF4C7;
}

.tag_closed {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

