.taskList {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
}

.taskList__title {
   padding-left: 16px;
    font-family: 'YS Text Regular';
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.taskList__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 14px;
    box-sizing: border-box;
    border: 1px solid #CACACA;
    border-radius: 7px;
}